AI Assignment 1

Arohan Boro
Reg no: 20BEE0168

1)

In [1]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.rand(4,4))

2)

In [2]:
df.columns=['Random value 1','Random value 2','Random value 3','Random value 4']

3)

In [3]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.423254        0.502580        0.357631        0.228069
std          0.150791        0.319036        0.179633        0.084045
min          0.296247        0.119028        0.229383        0.137012
25%          0.344711        0.348593        0.247303        0.173066
50%          0.377911        0.503298        0.290790        0.224010
75%          0.456454        0.657285        0.401118        0.279012
max          0.640947        0.884698        0.619560        0.327244

4)

In [4]:
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

5)

In [5]:
df.info()
df.loc[:,'Random value 2':'Random value 3']
df.iloc[:,1:3]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

   Random value 2  Random value 3
0        0.119028        0.328304
1        0.884698        0.619560
2        0.581481        0.253277
3        0.425114        0.229383